<div><h4 id="text-logo">MajinPaste</h4></div>
<div id="action-menu-container">
  <ul id="action-menu">
    <li><a href="/"><i class="far fa-file-alt"></i> Create New Paste</a></li>

    <% if defined? show_access_menu & show_access_menu %>
    <li><a href="/"><i class="fas fa-copy"></i> Copy To Clipboard</a></li>
    <% end %>
  </ul>
</div>

